CSV_INPUT_DIR=./data/raw
KAGGLE_DATASET=anvitkumar/shopping-dataset

KAGGLE_USERNAME=your_user
KAGGLE_KEY=your_key

MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB_NAME=eccomerceDB
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_COLLECTION_NAME=products